.content-empleados{
    margin-top: 5vh;
}

.content-empleados .add{
    margin-bottom: 5vh;
}

.content-empleados .add a{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    width: 144px;
    height: 41px;
    border: 2px solid #3737EC;
    border-radius: 26px;
}

.content-empleados .add img{
    width: 28px;
    height: 21px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.icon-table img{
    width: 14px;
    object-fit: cover;
}

.icon-table img:hover{
    width: 16px;
}